In [12]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd

adult = fetch_ucirepo(id=2) 
  
X = adult.data.features 
y = adult.data.targets 

df = pd.concat([X, y], axis=1)

In [13]:
print(f"1) Число столбцов в наборе данных {len(df.columns)}")

1) Число столбцов в наборе данных 15

In [22]:
print(f"2) Есть ли пропуски в данных? Если есть, то в каких столбцах")
columnsWithNull = df.columns[df.isna().any()].tolist()
print(columnsWithNull)

2) Есть ли пропуски в данных? Если есть, то в каких столбцах
['workclass', 'occupation', 'native-country']

In [23]:
print(f"3) Кол-во уникальных значений в столбце race {df['race'].nunique()}")

3) Кол-во уникальных значений в столбце race 5

In [24]:
print(f"4) Медиана hours-per-week {df['hours-per-week'].median()}")

4) Медиана hours-per-week 40.0

In [25]:
print(f"5) Кого больше - женщин или мужчин с ЗП >50K?")

male = len(df[(df['income'] == '>50K') & (df['sex'] == 'Male')])
female = len(df[(df['income'] == '>50K') & (df['sex'] == 'Female')])

if male > female:
    print("Мужчин")
elif female > male:
    print("Женщин")
else:
    print("Поровну")

5) Кого больше - женщин или мужчин с ЗП >50K?
Мужчин

In [26]:
print(f"6) Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные?")

df = df.fillna(df.mode().iloc[0])
df

6) Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные?

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,Private,321403,HS-grad,9,Widowed,Prof-specialty,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [32]:
is_nan = df.isna().any()
is_nan

age               False
workclass         False
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country    False
income            False
dtype: bool

Также можно было заполнить медианой, средним, константой, или удалить строки с пустыми значениями в столбцах